#div1, #div2 {
    float: left;
    width: 200px;
    height: 55px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

.list-container {
    width: 200px;
    margin-right: 1rem;
    border: 1px solid rgba(86,61,124,.15);
}

.bd-highlight {
    background-color: #e9ecef42;
}

.first_row {
    border-bottom: 1px solid rgba(86, 61, 124, 0.15);
}

.btn-cross {
    height: 30px;
    width: 30px;
    padding: 0;
}

.second-row {
    min-height: 300px;
    height: -webkit-fill-available;
}

.form-group {
    margin-bottom: 1rem;
}

.modal-footer-custom {
    display: flex;
    justify-content: end;
}