.drag-item {
    height: 110px;
    width: 166px;
    background-color: #dee2e6 !important;
}

.cross-icon {
    position: absolute;
    margin-left: 138px;
    margin-top: -8px;
    padding: 5px;
    cursor: pointer;
}

.f12 {
    font-size: 12px;
}