/* You can add global styles to this file, and also import other style files */
.clickable {
    cursor: pointer;
}

#div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}